<%= simple_form_for @pin, html: {multipart: true} do |f| %>
	<% if @pin.errors.any? %>
		<div id='erro_explnation'>
			<h2>
				<%= pluralize(@pin.errors.count, 'error') %>
				prevented this Pin from saving
			</h2>
			<ul>
				<% @pin.error.full_messages.each do |msg| %>
				<li>msg</li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class='form-group'>
		<p><%= f.input :title, input_html: {class:'form-control'} %></p>
		<p><%= f.input :description, input_html: {class:'form-control'} %></p>
		<p><%= f.button :submit, class: 'btn btn-primary' %></p>
	</div>
<% end %>